{% extends "base.html" %}
{% block content %}
  <h1>Tapahtuma: Koe: LTE, Sipoo, 1.8.2015</h1>
  <form>
    <div class="form-group">
      <labe>Koiran rekisterinumero</label>
      <input class="form-control" value="123456789" type="text">
    </div>
    <div class="form-group">
      <label>Tulos</label>
      <input class="form-control" value="140" type="text">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lis‰‰</button>
    </div>
  </form>
{% endblock %}