{% extends "base.html" %}
{% block content %}
  <h1>Lis‰tt‰v‰n koiran tiedot</h1>
  <form>
   
    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" value="BILLIONBEAT SPACE COWBOY" type="text">
    </div>
    <div class="form-group">
      <label>Rotu</label>
      <input class="form-control" value="sile‰karvainen collie" type="text">
    </div>
    <div class="form-group">
      <label>Syntym‰aika</label>
      <input class="form-control" value="24.01.2011" type="text">
    </div>
    <div class="form-group">
      <label>Sukupuoli</label>
      <input class="form-control" value="uros" type="text">
    </div>
	 <div class="form-group">
      <label>V‰ri</label>
      <input class="form-control" value="soopeli" type="text">
    </div>

 <div class="form-group">
      <label>Kasvattaja</label>
      <input class="form-control" value="BILLIONBEAT" type="text">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lis‰‰</button>
    </div>
  </form>
{% endblock %}