{% extends "base.html" %}
{% block content %}
  <h1>BILLIONBEAT SPACE COWBOY</h1>

  <form>
   
    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" value="BILLIONBEAT SPACE COWBOY" type="text">
    </div>
    <div class="form-group">
      <label>Rotu</label>
      <input class="form-control" value="sileäkarvainen collie" type="text">
    </div>
    <div class="form-group">
      <label>Syntymäaika</label>
      <input class="form-control" value="24.01.2011" type="text">
    </div>
    <div class="form-group">
      <label>Sukupuoli</label>
      <input class="form-control" value="uros" type="text">
    </div>
	 <div class="form-group">
      <label>Väri</label>
      <input class="form-control" value="soopeli" type="text">
    </div>

 <div class="form-group">
      <label>Kasvattaja</label>
      <input class="form-control" value="BILLIONBEAT" type="text">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}