{% extends "base.html" %}
{% block content %}
  <h1>Omistajan Heidi koirat</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää koira</a>
  </p>




  <table class="table table-striped table-bordered">
    <thead>

      <tr>
	<th>Rotu</th>
	<th>Rekisterinumero</th>
	<th>Sukupuoli</th>
	<th>Nimi</th>
        <th>Syntymävuosi</th>
	<th>Rekisteröintipäivä</th>
	<th>Rekisteröinnin tila</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan koira tähän -->
      <tr>
        <td>sileäkarvainen collie</td>
	<td>123456789</td>
	<td>uros</td>
	<td><a href="#">BILLIONBEAT SPACE COWBOY</a></td>
        <td>2010</td>
        <td>24.01.2011</td>
	<td><label class="label label-danger">kesken</label></td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
	<th><a class="btn btn-default btn-sm" href="#">Lisää sukulaissuhde</a></th>
	<th><a class="btn btn-default btn-sm" href="#">Lisää terveystutkimustulos</a></th>
      </tr>

	<tr>
	<td>sileäkarvainen collie</td>
	<td>147896549</td>
	<td>narttu</td>
        <td><a href="#">Koira vailla menneisyyttä</a></td>
        <td>2007</td>
        <td>13.9.2007</td>
	<td><label class="label label-danger">valmis</label></td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
	<th><a class="btn btn-default btn-sm" href="#">Lisää sukulaissuhde</a></th>
	<th><a class="btn btn-default btn-sm" href="#">Lisää terveystutkimustulos</a></th>
      </tr>

    </tbody>
  </table>
{% endblock %}