{% extends "base.html" %}
{% block content %}

<div class="alert alert-success">
    {{viesti}}
</div>


{% if virheet %}
<div class="alert alert-danger">
    <ul>
        {% for virhe in virheet %}
        <li>{{virhe}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<h2>Kaikkien kokeiden/n&auml;yttelyiden tulokset</h2>

<table class="table table-striped table-bordered">
    <thead>

        <tr>
            <th>Tapahtumatunnus</th>
            <th>Koiratunnus</th>
	    <th>Tulos</th>
            <th>Tuloslis&auml;tieto</th>
            <th>Tulosp&auml;iv&auml;</th>
            
           
        </tr>
    </thead>

    <tbody>
        {% for tulos in tulokset %}
        <tr>
            <td>{{tulos.tapahtumatunnus}}</td>
            <td>{{tulos.koiratunnus}}</td>
            <td>{{tulos.tulos}}</td>
            <td>{{tulos.tuloslisatieto}}</td>
            <td>{{tulos.tulospv}}</td>
	    

         </tr>

         {% endfor %}
      </tbody>
</table>
{% endblock %}