{% extends "base.html" %}
{% block content %}
  <h1>Omistajan Heidi koirat</h1>

  <p>
    <a href="{{base_path}}/koira/uusi" class="btn btn-success">Lis&auml;&auml; koira</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>

      <tr>
 	<th>Rekisterinumero</th>
 	<th>Nimi</th>
	<th>Rotu</th>
	<th>Sukupuoli</th>
        <th>Syntym&auml;p&auml;iv&auml;</th>
	<th>Rekister&ouml;intip&auml;iv&auml;</th>
	<th>Rekister&ouml;innin tila</th>
      </tr>
    </thead>

    <tbody>
     {% for koira in koirat %}
        <tr>
	  <td>{{koira.rekisterinumero}}</td>
          <td><a href="{{base_path}}/koira/{{koira.rekisterinumero}}">{{koira.nimi}}</td>
          <td>{{koira.rotu}}</td>
          <td>
 		{% if koira.sukupuoli=="N" %}
                Narttu
	      {% else %}
                Uros
	      {% endif %}
	  </td>
          <td>{{koira.syntymapv}}</td>
	  <td>{{koira.rekisterointipv}}</td>
	  <td>
              {% if koira.tila=="valmis" %}
                <label class="label label-success">Valmis
	      {% else %}
                <label class="label label-danger">Kesken
	      {% endif %}
          </td>
          <td><a class="btn btn-default btn-sm" href="{{base_path}}/koira/{{koira.rekisterinumero}}/muokkaa">Muokkaa</a></td>
        </tr>
      {% endfor %}
    </tbody>

  </table>
{% endblock %}