{% extends "base.html" %}
{% block content %}

{% import "makrot/lomakkeet.html" as lomakkeet %}

<div class="alert alert-success">
  {{viesti}}
</div>

{% if virheet %}
    <div class="alert alert-danger">
      <ul>
        {% for virhe in virheet %}
          <li>{{virhe}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}


  <h2>{{koira.nimi}}</h2>

 {% if user_logged_in.rooli=="omistaja" %}
   <p>
    <form method="post" action="{{base_path}}/koira/{{koira.rekisterinumero}}/poista" style="display: inline-block;" 
class="destroy-form" data-confirm="Oletko varma, ett&auml; haluat poistaa koiran?"><button type="submit" class="btn btn-danger">Poista</button></form>
    <a class="btn btn-default btn-sm" href="{{base_path}}/koira/{{koira.rekisterinumero}}/muokkaa">Muokkaa</a>  
   </p>
{% endif %}

{% if user_logged_in.rooli=="hoitaja" %}
    <p>
	  <td> <form method="post" action="{{base_path}}/koira/{{koira.rekisterinumero}}/hyvaksy" style="display: inline-block;" 
class="destroy-form" ><button type="submit" class="btn btn-danger">Hyv&auml;ksy</button></form> </td>

		<td> <form method="post" action="{{base_path}}/koira/{{koira.rekisterinumero}}/hylkaa" style="display: inline-block;" 
class="destroy-form" data-confirm="Oletko varma, ett&auml; haluat hyl&auml;t&auml; koiran?"><button type="submit" class="btn btn-danger">Hylk&auml;&auml;</button></form> </td>

  
    </p>
{% endif %}


  <!-- Tiedot tulee listana tähän -->
<h3> Perustiedot</h3>
  <ul>
    <li><strong>Rekisterinumero:</strong> {{koira.rekisterinumero}}</li>
    <li><strong>Rotu:</strong> {{koira.rotu}}</li>
    <li><strong>Syntym&auml;p&auml;iv&auml;:</strong> {{koira.syntymapv}}</li>
    <li><strong>Rekister&ouml;intip&auml;iv&auml;</strong> {{koira.rekisterointipv}}</li>
    <li><strong>Sukupuoli:</strong> {{koira.sukupuoli}}</li>
     <li><strong>Kasvattaja:</strong> {{koira.kasvattaja}}</a></li>
  </ul>
  




<h3>Omistajat</h3>
  <ul>
 {% for suhde in suhteet %}
    <li>{{suhde.omnimi}}</li>
 {% endfor %}
  </ul>

<h3>Sukulaisuussuhteet</h3>
  <ul>
 {% for suk in suku %}
    <li> {% if suk.suhdetyyppi=="isa" %}  Is&auml;: {% endif %} {% if suk.suhdetyyppi=="ema" %}  Em&auml;: {% endif %} {{suk.vnimi}} </li>
 {% endfor %}
 </ul>


<h3>Koe- ja n&auml;yttelytulokset</h3>

<table class="table table-striped table-bordered">
    <thead>

      <tr>
	<th>Tyyppi</th>
	<th>Alatyyppi</th>
	<th>Tulos</th>
	<th>Lis&auml;tieto</th>
	<th>Paikka</th>
	<th>P&auml;iv&auml;m&auml;&auml;r&auml;</th>
      </tr>
    </thead>

    <tbody>

     {% for tulos in tulokset %}

      <!-- Listataan  koe- ja näyttelytulokset tähän -->
      <tr>
        <td>{{tulos.tyyppi}}</td>
	<td>{{tulos.alityyppi}}</td>
	<td>{{tulos.tulos}}</td>
	<td>{{tulos.tuloslisatieto}}</td>
	<td>{{tulos.paikkakunta}}</td>
	<td>{{tulos.tulospv}}</td>
      </tr>
 {% endfor %}
 </tbody>
</table>



{% endblock %}